 @{
     Layout = null;
     var ApplicationPath = Url.Content("~");
}

<div class="page-header-inner ">
    <div class="page-logo">
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank">
            <img id="AppLogo" src="~/OCore.Mvc.Admin/img/logo-min.png" alt="logo" class="logo-default" height="32" style="margin:9px auto" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
        </div>
    </div>

    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
    </a>

    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="@Url.Action("info","user")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-user"></i>
                    <span class="username username-hide-on-mobile"> @Html.Raw(Model.GetShownLoginName()) </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="@Url.Action("Index","Account")">
                            <i class="icon-user"></i> 个人资料
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SetPassword", "Account")">
                            <i class="icon-note"></i> 修改密码
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ExternalLogins","Account")">
                            <i class="icon-link"></i> 第三方登录
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Setting","Account")">
                            <i class="icon-settings"></i> 设置
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="@Url.Action("LockOut", "Home", new { account = Model.GetShownLoginName() })">
                            <i class="icon-lock"></i> 锁屏
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOut","Home")">
                            <i class="icon-key"></i> 退出
                        </a>
                    </li>
                </ul>
            </li>
            @*<li class="dropdown dropdown-user">
                <a href="@Url.Action("Lockout", "home", new { account = Model.GetShownLoginName() })" class="dropdown-toggle"><i class="icon-lock"></i>锁屏&nbsp;&nbsp;</a>
            </li>
            <li class="dropdown dropdown-user">
                <a href="@Url.Action("logout","home")" class="dropdown-toggle"><i class="icon-key"></i>退出&nbsp;&nbsp;</a>
            </li>*@
        </ul>
    </div>
</div>