<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>创楷国际OA办公系统 | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" /> 
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="none" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="~/XCore.Mvc.Admin/fonts/fonts-open-sans.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/XCore.Mvc.Admin/metronic/assets/global/css/components.css" rel="stylesheet" id="style_components" asp-append-version="true" />
    <link href="~/XCore.Mvc.Admin/metronic/assets/global/css/plugins.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("css", required: false)
</head>

<body class="login">
    <div class="logo">
        <a href="javascript:;">
            <img src="/XCore.Mvc.Admin/img/weblogo.png" alt="" />
        </a>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="copyright">
        @Html.Partial("_CopyrightPartial")
    </div>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~")/lib/respond/dest/respond.min.js"></script>
    <script src="@Url.Content("~")/lib/excanvas/excanvas.js"></script>
    <script src="@Url.Content("~")/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/js-cookie/src/js.cookie.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js" asp-append-version="true"></script>
    <script src="~/lib/select2/dist/js/select2.full.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/src/localization/messages_zh.js" asp-append-version="true"></script>

    <script src="~/XCore.Mvc.Admin/metronic/assets/global/scripts/app.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            App.setAssetsPath('@Url.Content("~")/XCore.Mvc.Admin/metronic/assets/'); @*修正一下metronic的资源路径 *@
        });

        window.UEDITOR_HOME_URL = "@Url.Content("~")/";
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>